
<link rel="stylesheet" href="../../../css/watchMovie.watching.css">
  
<div id="background">
    <img src="../../../images/background.jpg" alt="">
</div>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous"
    src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v13.0&appId=353557326229068&autoLogAppEvents=1"
    nonce="ilM7ePlb"></script>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="nav-bar">
                <nav>
                    <a class="nav-item" href="/watch-movie">Trang chủ</a>
                    <a class="nav-item" href="">Phim mới</a>
                    <a class="nav-item" href="/categories?c=Romance">Romance</a>
                    <a class="nav-item" href="/categories?c=Hành động">Hành động</a>
                    <div class="dropdown nav-item">
                        <button class="btn dropdown-toggle nav-other-button" type="button" id="dropdown-menu-button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Khác
                        </button>
                        <div class="dropdown-menu nav-other-menu">
                            <a class="nav-other-menu_item" href="/categories?c=Phiêu lưu">Phiêu lưu</a>
                            <a class="nav-other-menu_item" href="/categories?c=Hài hước">Hài hước</a>
                            <a class="nav-other-menu_item" href="#">Tất cả</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <div class="box-player" style="margin-top: 40px;">
                <iframe width="100%" height="452" src="{{recentMovie.embed}}" frameborder="2"
                    allow=" clipboard-write; encrypted-media; picture-in-picture" allowfullscreen></iframe>
                    <div class="lamp"></div>
                <div class="fb-like" data-href="http://localhost:3000/watch-movie/{{recentMovie.slug}}/" data-width=""
                    data-layout="standard" data-action="like" data-size="small" data-share="false"></div>
                <h3 class="box-player_movie-name">{{recentMovie.filmName}}</h3>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="movie-script">
                    <p>{{recentMovie.script}}...<a href="/watch-movie/{{recentMovie.slug}}/details">[Xem thêm]</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h3 class="comment-box-title">Nêu cảm nghĩ về bộ phim tại đây:</h3>
            <div class="comment-box">
                <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop" style="z-index: 2"
                    data-href="http://localhost.dev/watch-movie/{{recentMovie.slug}}/details/watching" data-width="700"
                    data-numposts="5" colorscheme="dark"></div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-9">
            <h3 class="other-movies_title">Có thể bạn muốn xem:</h3>

        </div>
        <div class="col-md-9">
            <div class="other-movies-list">
                {{#each otherMovies}}
                <div class="other-movies-list_item">
                    <div class="other-movies-list_item-image">
                        <a href="/watch-movie/{{slug}}/details">
                            <div class="playButton">
                                <i class=" fa-solid fa-play" style="font-size: 20px;"></i>
                            </div>
                            <img src="{{image}}" alt="{{script}}">
                            <div class="other-movies-list_item-name">
                                <p>{{filmName}}</p>
                            </div>
                        </a>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

    </div>
</div>
<script src="../../../js/backgroundResponsive.js"></script>